@font-face{
    font-family: 'Cabin Variable';
    src: url('Cabin_V.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Cabin Italic Variable';
    src: url('Cabin-Italic_V.ttf') format('truetype');
    font-weight: 95 128;
    font-style: italic;
    font-display: swap;
}

@font-face{
    font-family: 'Source Sans Variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('WOFF2/VAR/SourceSansVariable-Roman.ttf.woff2') format('woff2'),
         url('WOFF/VAR/SourceSansVariable-Roman.ttf.woff') format('woff'),
         url('VAR/SourceSansVariable-Roman.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Variable Italic';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url('WOFF2/VAR/SourceSansVariable-Italic.ttf.woff2') format('woff2'),
         url('WOFF/VAR/SourceSansVariable-Italic.ttf.woff') format('woff'),
         url('VAR/SourceSansVariable-Italic.ttf') format('truetype');
}
