@base: 16;
@largerLineHeight: 1.75;
@baseLineHeight: 1.5;
@smallerLineHeight: 1.2;
@transition: all 0.2s ease-in-out;
@border-radius: 2px;

// breakpoints
@xlg-desktop: 1440px;
@lg-desktop: 1280px;
@desktop: 1024px;
@tablet: 768px;
@mobile: 320px;
@small-screen: @mobile;
@large-screen: @xlg-desktop;

// fonts
@base-font: "Muli", system-ui, -apple-system, BlinkMacSystemFont,'seravek', 'segoe ui', 'roboto', sans-serif;

// base colors
@primary-red: hsl(7, 71%, 50%);
@primary-red-dark: darken(@primary-red, 10%);
@primary-teal: #31B3AB;
@primary-teal-dark: darken(@primary-teal, 10%);

// text
@black: #000000;
@body: #231f20;
// gray
@white: #ffffff;
@bodylight: hsl(185, 6%, 43%);
@lightgray: hsl(185, 6%, 90%);
@background: lighten(@body, 80%);

// variations
@lighten-percentage: 10%;
@darken-percentage: 10%;

// specifics
@link: #1a6a6a;
@link-hover: darken(@link, @darken-percentage);

// spacing ems
@space-unit: 1em;
@space-xs: (0.5 * @space-unit);
@space-sm: (0.75 * @space-unit);
@space-md: (1.25 * @space-unit);
@space-lg: (2 * @space-unit);
@space-xl: (3.25 * @space-unit);

// spacing rems
@space-unit-rem: 1rem;
@space-xs-rem: (0.5 * @space-unit-rem);
@space-sm-rem: (0.75 * @space-unit-rem);
@space-md-rem: (1.25 * @space-unit-rem);
@space-lg-rem: (2 * @space-unit-rem);
@space-xl-rem: (3.25 * @space-unit-rem);
