// global

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-size: 100%;
	color: #231f20;
}

a {
	color: #1a6a6a;

	&:hover, &:active {
		color: darken(#1a6a6a, 10%);
		transition: ease-in-out .3s;
	}
}

ul {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}

.logo {
	text-align: center;
	margin-bottom: 2rem;

	svg {
		//height: 30%;
		width: 20%;
	}
}

.container {
	//width: 90%;
	margin-left: 1rem;
	margin-right: 1rem;
	display: grid;
	//grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
	"header"
	"main"
	"footer";
}

@media only screen and (min-width: 60em) { /* 960px */
	.container {
		//width: 75%;
		//max-width: 60rem;
		grid-template-columns: repeat(12, 1fr);
	  	grid-template-areas:
		  "header header header header header header header header header header header header"
		  ". . . main main main main main main . . . "
		  "footer footer footer footer footer footer footer footer footer footer footer footer";
	}

	.iconWrap {
		li {
			margin: 0 1.5rem;
		}
	}
}

header {
	margin-top: 2rem;
	grid-area: header;
	text-align: center;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	text-align: center;
	margin: 3rem 0 1rem 0;
}

.textCenter {
	text-align: center;
}

// social

.social {
	margin: 4rem 0;
}

.iconWrap {
	display: flex;
	justify-content: center;
	margin-top: 2rem;

	li {
		margin: 0 0.75rem;
	}

	a {
		display: flex;
    	flex-direction: column;
		align-items: center;
		color: #ff5d40;
		transition: ease-in-out .3s;

		&:hover, &:active {
			color: darken(#ff5d40, 20%);
		}
	}
}