@import '_variables';
@import '_mixins';
@import 'reset.css';

// base font styles

body {
    font-family: @base-font;
    font-size: 100%;
    background-color: @white;
    color: @body;
}

h1,
.header1 {
    font-family: @base-font;
    font-weight: 700;
    color: @black;
    line-height: @smallerLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    .fontSize(46px);
}

@media only screen and (min-width: @tablet) {
    h1,
    .header1 {
        letter-spacing: .04em;
        .fontSize(48px);
    }
}

h2,
.header2 {
    font-family: @base-font;
    color: @black;
    line-height: @baseLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: .04em;
    .fontSize(36px);
}

h3,
.header3 {
    font-family: @base-font;
    color: @black;
    line-height: @baseLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    .fontSize(30px);
}

h4,
.header4 {
    font-family: @base-font;
    color: @black;
    line-height: @baseLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    .fontSize(24px);
}

h5,
.header5 {
    font-family: @base-font;
    color: @black;
    line-height: @baseLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    .fontSize(18px);
}

p {
    color: @body;
    line-height: @baseLineHeight;
    margin-bottom: 0;
    margin-top: 0;
    .fontSize(18px);

    &.bodySM {
        .fontSize(14px);
    }

    &.bodyLight {
        color: @bodylight;
    }
}

a {
    color: @link;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: @link-hover;
    }
}


// sets ideal reading line length
.bodyOfText {
    .px-em(width, 640);
    margin: 0 auto;
}

.textCenter {
    text-align: center;
}

.mg-btm-xs {
    margin-bottom: @space-xs-rem;
}

.mg-btm-sm {
    margin-bottom: @space-sm-rem;
}

.mg-btm-md {
    margin-bottom: @space-md-rem;
}

.mg-btm-lg {
    margin-bottom: @space-lg-rem;
}

.mg-btm-xl {
    margin-bottom: @space-xl-rem;
}

.mg-top-xs {
    margin-top: @space-xs-rem;
}

.mg-top-sm {
    margin-top: @space-sm-rem;
}

.mg-top-md {
    margin-top: @space-md-rem;
}

.mg-top-lg {
    margin-top: @space-lg-rem;
}

.mg-top-xl {
    margin-top: @space-xl-rem;
}

// external mobile menu library overrides
.bm-burger-bars {
    background: @black;
}

.bm-burger-button {
    z-index: 1000;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 20px;

    button {
        position: relative !important;
    }
}

.bm-menu-wrap {
    background: @white;
    .px-rem-padding(20, 16, 20, 16);
}

.bm-item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
        li {
            line-height: 2;
        }
    }
}

.responsiveNav {
    display: none;

    &.open {
        display: block;
    }
}

@media only screen and (min-width: @tablet) {
    .responsiveNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: ~'2/-1';
    }
}