@import "_variables";
@import "_mixins";

footer {
    background-color: @background;
    grid-area: footer;
    padding-top: 3rem;
    .px-rem-padding(20, 16, 20, 16);
    .fontSize(16);

    .footerFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .px-rem(padding-top, 16);
    }
}
