@import "_variables.less";
@import "_mixins.less";

header {
	display: grid;
	grid-template-columns: repeat(2, min-content);
	// grid-def inline
	background: @white;
	border-bottom: solid 1px @lightgray;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	.px-rem(padding, 16);

	svg {
		height: 40px;
	}

	.mobileMenuButton {
		display: block;
	}

	.navLinks {
		display: flex;
		flex-direction: column;

		ul {
			display: flex;
			flex-direction: column;
			margin: 1rem 0;

			li {
				margin: .5rem 0;
			}
		}
	}
}

.socialLinks {
	display: flex;
	flex-direction: row;
	justify-content: center;

	li {
		margin: 0 0.75rem;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: @black;
		transition: ease-in-out .3s;

		&:hover, &:active {
			color: @primary-red;
		}
	}
}

@media only screen and (min-width: @tablet) {
	header {
		margin-top: 1.5rem;
		border-bottom: none;
		grid-template-columns: repeat(2, auto);
		justify-content: unset;

		svg {
			height: 60px;
		}

		.mobileMenuButton {
			display: none;
		}

		.navLinks {
			display: flex;
			flex-direction: column;

			ul {
				display: flex;
				flex-direction: row;

				li {
					margin: .5rem .75rem;

					&:first-of-type {
						margin-left: 0;
					}

					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}

	.socialLinks {
		display: flex;
		flex-direction: row;
		justify-content: center;

		li {
			margin: 0 0.75rem;

			&:last-of-type {
				margin-right: 0;
			}
		}

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: @black;
			transition: ease-in-out .3s;

			&:hover, &:active {
				color: @primary-red;
			}
		}
	}
}

@media only screen and (min-width: @desktop) {
	header {
		padding: 0;
	}
};