@import "_variables";
@import "_mixins";

.pageWrap {
	margin: 0;
    display: grid;
    grid-gap: 2rem 0;
    grid-template:
        "header" auto
        "main" auto
        "footer" auto
        / 1fr;
}

.container {
	margin: 0 auto;
	.px-rem-padding(20, 15, 20, 15);
	max-width: @lg-desktop;
}

.logo {
	display: inline-block;
	.px-rem(margin-left, 15);

	svg {
		height: 30px;
	}
}

@media only screen and (min-width: @desktop) {
	.pageWrap {
		grid-template:
			". header ." auto
		    ". main ." auto
		    "footer footer footer" auto
		    / .25fr 3fr .25fr;
	}
}

@media only screen and (min-width: @lg-desktop) {
	.pageWrap {
		grid-template:
			". header ." auto
		    ". main ." auto
		    "footer footer footer" auto
		    / .25fr 4fr .25fr;
	}

	.container {
		max-width: @lg-desktop;
	}
}

main {
	grid-area: main;
	display: grid;
	grid-gap: 4rem 2rem;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	.px-rem-padding(20, 16, 20, 16);
}