@import '_variables';
@import '_mixins';

:root {
  --gutter: 20px;
}

.postsWrap {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  grid-area: section;
}

.itemList {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    overflow-x: auto;
    scroll-snap-type: x proximity;
    padding-bottom: ~'calc(.75 * var(--gutter))';
    margin-bottom: ~'calc(-.25 * var(--gutter))';
    grid-column: ~'1 / -1';
    justify-items: center;
}

.fullWidth {
    background: @primary-teal;
    color: @white;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: -60px; // hacky af
    display: grid;
    grid-template:
        ". heading ." auto
        ". section ." auto
        ". link ." auto
        / .25fr 4fr .25fr;
}

.mediumFeed {
    padding: 2rem 0;

    h2, p {
         color: @white;
    }

    a {
    color: @white;
        &:hover,
        &:focus {
            text-decoration: underline;
            color: @white;
            transition: @transition
        }
    }
}

.heading {
    grid-area: heading;
    text-align: center;
}

.allPosts {
    grid-area: link;
    margin-left: auto;
    color: @white;

    &:hover,
    &:focus {
        text-decoration: underline;
        color: @white;
        transition: @transition
    }
}

.postImgWrap {
    background: @white;
}

.postImg {
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;

    &:hover,
    &:focus {
        opacity: .75;
        transition: @transition;
    }
}

@media only screen and (min-width: @desktop) {
    .postsWrap {
        justify-items: center;
    }

    .itemList {
        display: grid;
        grid-gap: ~'calc(var(--gutter) * 2)';
        grid-template-columns: repeat(3, 300px);
    }
}
